In [1]:
import os
import json
import nltk

import pandas as pd
import numpy as np

rootdir = '../data/'

In [43]:
march_01 =  pd.read_csv(rootdir+'2019-03-01_tweetswithlinks_tr.csv', header=None, usecols = np.arange(11),
                        names=['auther_id','created_at','uid','language','text','sname','ttype','RT/Q_uid','RT/Q_sname','Q_text','Q_link'], parse_dates = ['time'],

                        dtype={'tid':float, 'uid':float, 'language':str,'text':str,'sname':str,'ttype':str,'RT/Q_sname':str,'Q_text':str,'Q_link':str  } )
print(len(march_01))
march_01 = march_01[march_01['language'] == 'tr']
march_01.drop(['language'],axis=1, inplace=True)

55116

In [44]:
march_01['RT/Q_uid'] = pd.to_numeric(march_01['RT/Q_uid'], errors='coerce').dropna()
print(len(march_01))
print(march_01.columns)
print(march_01.dtypes)

55116
Index(['tid', 'time', 'uid', 'text', 'sname', 'ttype', 'RT/Q_uid',
       'RT/Q_sname', 'Q_text', 'Q_link'],
      dtype='object')
tid                       float64
time          datetime64[ns, UTC]
uid                       float64
text                       object
sname                      object
ttype                      object
RT/Q_uid                  float64
RT/Q_sname                 object
Q_text                     object
Q_link                     object
dtype: object

In [45]:
march_01.head(5)

,tid,time,uid,text,sname,ttype,RT/Q_uid,RT/Q_sname,Q_text,Q_link
0,1.035308e+18,2019-03-01 22:22:00+00:00,1.101609e+18,"RT @gittiae: Umudunu kaybet, umut insanı yaral...",huseyinnaser13,tweet,-1.000000e+00,-1,NaN,NaN
1,2.816905e+09,2019-03-01 22:22:00+00:00,1.101609e+18,RT @ErkeksenEvlenme: EfsaneBaşkanÖmerUğurGençc...,BekkayaCafer,retweet,1.101556e+18,1.09600314019594E+018,ErkeksenEvlenme,NaN
2,1.208775e+08,2019-03-01 22:22:00+00:00,1.101609e+18,RT @NTVPara: Otogaza 18 kuruş zam https://t.co...,plusfb,tweet,-1.000000e+00,-1,NaN,NaN
3,1.014610e+18,2019-03-01 22:22:01+00:00,1.101609e+18,RT @qubatiyan: İşler iyice çığırından çıkmadan...,haticeygci,tweet,-1.000000e+00,-1,NaN,NaN
4,1.079065e+18,2019-03-01 22:22:02+00:00,1.101609e+18,RT @eczozgurozel: 'Vadedeceğim birşey yoksa ko...,ey_tcan,retweet,1.101547e+18,229515050,eczozgurozel,NaN

In [46]:
display(march_01['ttype'].value_counts())
march_01_tweet = march_01[march_01['ttype']=='tweet']  
march_01_retweet = march_01[march_01['ttype']=='retweet']  
march_01_reply = march_01[march_01['ttype']== 'reply'] 
march_01_quote = march_01[march_01['ttype']== 'quote']

display(march_01_tweet.head(5))
display(march_01_retweet.head(5))
display(march_01_reply.head(5))
display(march_01_quote.head(5))

tweet            25790
retweet          14846
reply            11350
quote             2358
&gt                  9
                 ...
BeyzaKaradenz        1
uzunkokcan           1
YUSUFSORGUCU         1
gkcerb874            1
_Aysu_kaya_          1
Name: ttype, Length: 746, dtype: int64

,tid,time,uid,text,sname,ttype,RT/Q_uid,RT/Q_sname,Q_text,Q_link
0,1.035308e+18,2019-03-01 22:22:00+00:00,1.101609e+18,"RT @gittiae: Umudunu kaybet, umut insanı yaral...",huseyinnaser13,tweet,-1.0,-1,NaN,NaN
2,1.208775e+08,2019-03-01 22:22:00+00:00,1.101609e+18,RT @NTVPara: Otogaza 18 kuruş zam https://t.co...,plusfb,tweet,-1.0,-1,NaN,NaN
3,1.014610e+18,2019-03-01 22:22:01+00:00,1.101609e+18,RT @qubatiyan: İşler iyice çığırından çıkmadan...,haticeygci,tweet,-1.0,-1,NaN,NaN
9,8.897644e+17,2019-03-01 22:22:08+00:00,1.101609e+18,Çok buyuk yaşanmışlık varmış en fazla oturup ...,sevvalatintasx,tweet,-1.0,-1,NaN,NaN
11,8.914096e+17,2019-03-01 22:22:10+00:00,1.101609e+18,#SonSayfa Olası bir Trabzonspor mağlubiyetinde...,KortacT,tweet,-1.0,-1,NaN,NaN

,tid,time,uid,text,sname,ttype,RT/Q_uid,RT/Q_sname,Q_text,Q_link
1,2.816905e+09,2019-03-01 22:22:00+00:00,1.101609e+18,RT @ErkeksenEvlenme: EfsaneBaşkanÖmerUğurGençc...,BekkayaCafer,retweet,1.101556e+18,1.09600314019594E+018,ErkeksenEvlenme,NaN
4,1.079065e+18,2019-03-01 22:22:02+00:00,1.101609e+18,RT @eczozgurozel: 'Vadedeceğim birşey yoksa ko...,ey_tcan,retweet,1.101547e+18,229515050,eczozgurozel,NaN
6,3.593617e+08,2019-03-01 22:22:04+00:00,1.101609e+18,RT @avmustafakose: Enerji Bakanımız Sn. @fatih...,bahattinbyrktr,retweet,1.101424e+18,479635805,avmustafakose,NaN
8,4.632130e+08,2019-03-01 22:22:03+00:00,1.101609e+18,"RT @ayhansicimoglu: Fransa'da sordum.. ""Kaç çe...",hepizinde,retweet,1.101511e+18,86848647,ayhansicimoglu,NaN
14,2.991792e+09,2019-03-01 22:22:11+00:00,1.101609e+18,RT @mcanpolatnet: Büyükşehir Belediye Başkan A...,izciAK,retweet,1.101565e+18,794779183,mcanpolatnet,NaN

,tid,time,uid,text,sname,ttype,RT/Q_uid,RT/Q_sname,Q_text,Q_link
5,8.219873e+17,2019-03-01 22:22:04+00:00,1.101609e+18,@MusallatOldum @ynspvl bu aslında erkekmis,ofnekonustunbe,reply,1.101607e+18,1.02831842658929E+018,MusallatOldum,NaN
10,3.524049e+09,2019-03-01 22:22:09+00:00,1.101609e+18,@S4dPictures trabzonspor ne zaman şampiyon olacak,wtfisthiskaan,reply,1.101607e+18,9.70369751057883E+017,S4dPictures,NaN
27,1.027749e+18,2019-03-01 22:22:25+00:00,1.101609e+18,@RAMORAYDOLS @grantsarreaga jskdkdkd,aspechambie,reply,1.101608e+18,169252628,RAMORAYDOLS,NaN
30,9.582382e+17,2019-03-01 22:22:27+00:00,1.101609e+18,@yaman050505 Dm gel,kaannn2929,reply,1.101608e+18,9.89072791487107E+017,yaman050505,NaN
36,7.751521e+17,2019-03-01 22:22:32+00:00,1.101609e+18,@sploofeek Here rayam,iamfia_A_Chris,reply,1.101603e+18,179394815,sploofeek,NaN

,tid,time,uid,text,sname,ttype,RT/Q_uid,RT/Q_sname,Q_text,Q_link
7,2.867666e+09,2019-03-01 22:22:07+00:00,1.101609e+18,Ben bu internete para veriyom,ismimumutdegil,quote,1.090004e+18,478793432,FurkanGM_,Kadınların durması gereken / Durdukları https:...
29,7.898788e+08,2019-03-01 22:22:26+00:00,1.101609e+18,RT @DrSinanOgan: Toydan sonra nağara çalmanın ...,Deniz0791,quote,1.101567e+18,2472680550,TractorSaziClub,⚽️ Mehdi Mehdipour\n⚽️ Anthony Stokes\nBURDAN ...
55,2.311612e+09,2019-03-01 22:22:49+00:00,1.101609e+18,RT @ulu_tr: Yanlışlıkla gerçek birine büyük ik...,salihylds,quote,1.101517e+18,424893128,sputnik_TR,Milli Piyango Genel Müdürü görevden alındı\nht...
79,4.402646e+08,2019-03-01 18:43:12+00:00,1.101553e+18,Ağiz tadıyla kavga edemezsin sinirlenince saki...,lugmus,quote,1.101548e+18,440264596,lugmus,Böyle adamlar hem sıkıcıdır hem de kadını deli...
83,1.545992e+08,2019-03-01 18:43:13+00:00,1.101553e+18,Khloe reis yargı dağıtıyor,frambuaaz,quote,1.101541e+18,32959253,khloekardashian,Tristan is equally to blame but Tristan is the...